@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
    background-color: #f2f5fa;
    color: black;
    font-family: 'Libre Baskerville', serif;
    padding: 0 80px
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 80px;
}

header {
    margin-bottom: 60px;
}

.page-title {
    font-size: 48px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: -0.5px;
    margin-top: 40px;
}

.page-subtitle {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    max-width: 1100px;
}

.contacts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    align-items: start;
    margin-bottom: 60px;
}