/* page */
body {
    background-color: #f2f5fa;
    color: black;
    font-family: 'Avenir Next', Avenir, sans-serif;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

/* header */
header {
    margin-bottom: 40px;
}

.page-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
}

.page-subtitle {
    font-size: 24px;
    max-width: 1000px;
    margin-bottom: 0;
    font-family: Garamond, serif;
}

/* grid */
.contacts{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
}