.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 20px 2px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thumbnail {
    background-color: #20cca2;
    font-family: 'League Spartan', sans-serif;
    color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 650;
    line-height: 84px;
    text-align: center;
    margin-bottom: 24px;
}

.contact-name {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 650;
    margin: 0 0 2px 0;
}

.contact-type {
    font-size: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #898484;
    margin: 0 0 24px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 34px;
}

.details.hidden {
    display: none;
}

.detail-item {
    font-size: 10px;
    color: #898484;
    font-weight: 400;
    margin: 0;
    font-family: 'Libre Baskerville', serif;}

.detail-item a {
    color: #111827;
    text-decoration: underline;
}

.key-contacts-label {
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    font-weight: 650;
    margin: 0px;
}

.key-contact-name {
    font-size: 10px;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
    color: #898484;
    margin: 0;
}

.key-contact-email {
    font-size: 10px;
    font-family: 'Libre Baskerville', serif;
    color: #898484;
    margin: 0;
}

.icons-row {
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-btn {
    background-color: #20cca2;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
}

.chevron {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: none;
    border: none;
}

.chevron svg {
    width: 24px;
    height: 20px;
    stroke: black !important;
    stroke-width: 0.5 !important;
}