.header {
  height: 350px;
  background: linear-gradient(to bottom, #219EBC, #2172BC);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: #FFFFFF;
}