.header {
  height: 300px;
  background: linear-gradient(to bottom, #219EBCCC, #2172BCCC);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
}