.header {
  height: 350px;
  background: linear-gradient(to bottom, #219EBCCC, #2172BCCC); /* CC bætt fyrir aftan hex til að hafa meira opacity í litunum*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.header h1 {
  color: #FFFFFF;
  font-weight: 350;
  font-size: 40px;
  letter-spacing: 1px;
}