.recipe-card {
  padding: 8px 18px 14px 18px;
  width: 250px;
  margin: 10px;
  background-color: #FFFFFF;
}

.recipe-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe-card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
  color: #929292;
}

.recipe-card-tags {
  display: flex;
  gap: 6px;
  font-size: 20px;
  font-family: "Noto Color Emoji", sans-serif;
}