.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 800px;
}

.search-icon {
  position: absolute;
  left: 24px;
  color: black;
}

.search-input {
  padding: 10px 20px 10px 64px;
  border-radius: 32px;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: #ffffff;
  outline: none;
}